:root {
	--white: hsl(0, 0%, 100%);
	--light-gray: hsl(212, 45%, 89%);
	--grayish-blue: hsl(220, 15%, 55%);
	--dark-blue: hsl(218, 44%, 22%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--light-gray);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Outfit', sans-serif;
	font-weight: 400;
	color: var(--grayish-blue);
	line-height: 1.5;
	height: 100vh;
}

.container {
	background: var(--white);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 325px;
	padding-bottom: 1rem;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.qr-code {
	padding: 4%;
	text-align: center;
}
.qr-code img {
	border-radius: 10px;
	width: 100%;
}
.qr-code-text {
	width: 100%;
	padding: 5%;
}
h1 {
	font-size: 2rem;
	font-weight: 700;
	color: var(--dark-blue);
	margin-bottom: 1rem;
}

p {
	font-size: 1.4rem;
}
.attribution {
	margin-top: 2rem;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
